/* common */

.text-align-center {
    text-align : center;
}

.margin-zero-auto {
    margin : 0 auto;
}

.size-50 {
    width:50%;
}
.size-60 {
    width:60%;
}
.size-70 {
    width:70%;
}
.size-80 {
    width:80%;
}
.size-90 {
    width:90%;
}
.size-100 {
    width:100%;
}